@import '../../../bootstrap_variables';

$white: #fff;
$black: #000;
$silver: #bcbfc2;

$primary: #FF6363;
$secondary: #eeefef;
$success: #5bce93;
$info: #FF5C5C;
$light: #2D353C;
$dark: #2b2b2b;

$body-bg: whitesmoke;
$body-color: #212529;


$textDark: #2B2B2B;
$textGray: #7e7e7e;
$textLight: #fff;