@media screen and (max-width: 1199px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {

    .customize-modal {
        width: 60% !important;
    }

    .header-option-btns {
        padding: 0px 0;
    }

    .sidebar {
        padding-right: 0px;
    }

    .grid-item {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {

    /* Checkout Modal Start */
    #checkout-product {
        width: 300px;
    }

    #checkout-product .cart-table,
    #checkout-product .cart-table thead,
    #checkout-product .cart-table tbody,
    #checkout-product .cart-table th,
    #checkout-product .cart-table td,
    #checkout-product .cart-table tr {
        display: block !important;
    }

    #checkout-product .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    #checkout-product .cart-table tr {
        border: 1px solid #ccc !important;
    }

    #checkout-product .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    #checkout-product .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: auto !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    #quick_overview .cart-table td:nth-of-type(3):before {
        content: "Preis";
    }

    #quick_overview .cart-table td:nth-of-type(4):before {
        content: "Gesamt";
    }

    #quick_overview .cart-table td:nth-of-type(5):before {
        content: "Löschen";
    }

    #checkout-product .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    #checkout-product .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    #checkout-product .cart-table td:nth-of-type(3):before {
        content: "MENGE";
    }

    #checkout-product .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    #checkout-product .cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    #checkout-product .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    #checkout-product .cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }


    .cart-table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block !important;
    }

    .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .cart-table tr {
        border: 1px solid #ccc !important;
    }

    .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .cart-table td:nth-of-type(3):before {
        content: "MENGE";
    }

    .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    .cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }

    .cart-table-delete {
        text-align: left !important;
    }

    .product-cart-item td:last-child {
        text-align: left !important;
    }

    .customize-modal {
        width: 80% !important;
    }

    /* .menu_element a{
        color: #000;
    } */
    .module-navigation-default>ul>li>a {
        padding: 7px 12px;
    }

    /* Checkout Modal End */

    .module-shop-cart-add .price .btn-default {
        font-size: 12px;
        padding: 5px 15px 5px 15px;
    }

    input.input-mini.form-control.input-sm {
        width: 35%;
    }
}

@media screen and (max-width: 526px) {
    .product-single {
        width: 100%;
    }

    h3.nodrop {
        font-size: 18px;
        line-height: 24px;
    }

    #progressbar li span {
        display: flex;
        align-items: center;
        background-color: #29a847;
        clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
        width: 160px;
        height: 37px;
        justify-content: center;
        padding-right: 6px;
        margin: 0 auto;
        font-size: 9px;
    }

    .shopping-info {
        width: 60% !important;
    }

    .listing-item>li {
        width: 100%;
    }

    .grid-item {
        width: 100% !important;
        padding: 0;
    }

}

@media screen and (max-width: 430px) {
    #checkout-product {
        right: -18%;
    }

}


@media screen and (max-width: 414px) {
    .menu-button {
        margin-left: 15px !important;
    }

    #progressbar li span {
        width: 147px;
        font-size: 7px;
    }

    h3.nodrop {
        font-size: 15px;
        line-height: 24px;
    }

    select.mw-ui-field.element-block.shipping-country-select.form-control {
        width: 100%;
    }

    .header-option-btns {
        margin-right: 0px;
    }

    .header-option-btns .header-account {
        padding: 6px 7px;
    }

    .shopping-info {
        width: 82% !important;
    }

    #checkout-product {
        right: -75%;
    }

    #progressbar li span {
        width: 147px;
        font-size: 7px;
    }
}

@media screen and (max-width: 360px) {
    .header-option-btns .header-account {
        padding: 6px 0px !important;
    }

    .header-option-btns .header-account {
        margin-right: 5px;
    }

    .shop-item-buttons .add-to-cart {
        padding: 1px 22px;
    }

    .product-wishlist,
    .product-inner-wishlist {
        margin-right: 10px;
    }

    #checkout-product {
        right: -154%;
    }
}
