:root {
    --m-color: #ccc;
}



/* Login Modal */
@media screen and (min-width: 1450px) {
    /*.modal-dialog {*/
    /*margin: 10% auto;*/
    /*}*/
}

.login-modal .modal-content {
    border: 1px solid #c3c3c3 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: #f5f5f5;
    color: #505050;
}

.login-modal .modal-header {
    padding-bottom: 0;
    border-color: #c3c3c3;
    border: 0;
}

.login-modal .modal-header .close {
    margin-top: -25px;
    margin-right: -25px;
    background: #f5f5f5;
    opacity: 1;
    color: #505050;
    padding: 1px 5px;
    border: 1px solid #c3c3c3;
    border-radius: 100%;
}

.login-modal .modal-dialog {
    max-width: 500px;
}

.login-modal .modal-body {
    padding: 20px 60px;
}

.login-modal .modal-body .form-control {
    background: #ffffff;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: #505050;
    font-size: 16px;
}

.login-modal .modal-body p {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

.login-modal .modal-body .icon {
    text-align: center;
    margin-bottom: 20px;
}

.login-modal .modal-body .icon i {
    font-size: 45px;
    color: #333;
}

/*
@media (min-width: 1450px) {
    .login-modal .modal-dialog {
        width: 700px;
    }
}
*/
.login-modal .socials-login {
    display: flex;
    width: 100%;
    margin: 20px 0 30px 0;
}

.login-modal .socials-login a {
    color: #ffffff;
    flex: 1;
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
    margin: 0 2px;
}

.login-modal .socials-login a:hover {
    opacity: 0.8;
}

.login-modal .socials-login .facebook {
    background-color: #3b5998;
}

.login-modal .socials-login .twitter {
    background-color: #00aced;
}

.login-modal .socials-login .gplus {
    background-color: #db4437;
}

.login-modal .socials-login .linkedin {
    background-color: #0077b5;
}

.login-modal .socials-login .github {
    background-color: #333333;
}

.login-modal .socials-login .microweber {
    background-color: #0086db;
}

.login-modal .or {
    line-height: 0.5;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.login-modal .or span {
    display: inline-block;
    position: relative;
}

.login-modal .or span:before,
.login-modal .or span:after {
    content: "";
    position: absolute;
    height: 13px;
    border-bottom: 1px solid #c3c3c3;
    top: 0;
    width: 600px;
}

.login-modal .or span:before {
    right: 100%;
    margin-right: 15px;
}

.login-modal .or span:after {
    left: 100%;
    margin-left: 15px;
}

.login-modal .act {
    position: relative;
    margin: 25px 0 20px 0;
    text-align: center;
}

.login-modal a {
    color: #505050;
    font-size: 14px;
    text-decoration: none;
}

.login-modal .act a {
    font-size: 16px;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
    font-weight: bold;
}

.login-modal .act a:hover {
    opacity: 0.8;
}

.login-modal .act a span {
    display: block;
}

.login-modal .act:after {
    font-family: 'Material Icons';
    display: block;
    position: absolute;
    top: 0px;
    font-size: 30px;
}

.login-modal .act.create:after {
    content: 'arrow_forward';
    float: right;
    right: 9px;
}

.login-modal .act.login:after {
    content: 'arrow_back';
    float: left;
    left: 55px;
}

.login-modal .personal-data {
    color: #bbbbbb !important;
    text-align: justify !important;
}

@media screen and (max-width: 520px) {
    .login-modal .act:after {
        display: none;
    }
}

.login-modal .act:after {
    top: -11px;
}




/* My CSS */
.header-option-btns .header-account {
    margin-right: 12px;
    background-color: var(--m-color);
    padding: 6px 14px;
    border-radius: 10px;
    position: relative;
}

.header-option-btns {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 3px 0;
}

.header-option-btns .header-account {
    margin-right: 12px;
    background-color: var(--m-color);
    padding: 6px 14px;
    border-radius: 10px;
}

span#shopping-cart-quantity,
a.dropdown-toggle {
    color: #fff;
}

span.material-icons.cart-icon {
    color: #fff;
}

span#shopping-cart-quantity,
a.dropdown-toggle {
    color: #fff;
}

#checkout-product {
    position: absolute;
    top: 115%;
    right: 0;
    width: 500px;
    z-index: 999;
    background-color: #fff;
    padding: 15px 10px;
    left: auto;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 3px 3px #e4e4e4;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card .product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-wishlist,
.product-inner-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-right: 25px;
}

.mw-ui-col-container .product-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

span.select2.select2-container.select2-container--default {
    width: 120px !important;
    margin-left: 6px;
}

.shop-item-buttons .add-to-cart {
    padding: 1px 41px;
    display: flex;
    align-items: center;
    color: #000;
}

.item-price {
    text-align: left !important;
}

.inner-wrapper .product-tax-text {
    margin-bottom: 12px;
}

.shop-item-buttons .material-icons {
    margin-right: 7px;
}

.sidebar-box ul li {
    list-style: none;
    margin-bottom: 20px;
}

#delete_sss,
#edit_sss {
    margin-right: 5px;
    border: 1px solid var(--m-color);
    background: var(--m-color);
    border-radius: 5px !important;
    color: #000 !important;
    padding: 3px 3px;
    font-size: 0;
}

#delete_sss .text-danger,
#edit_sss .text-success {
    color: #000 !important;
}

.dropdown-menu {
    position: absolute;
    top: 109% !important;
    left: auto !important;
    right: 0;
}

.mw-cats-menu .material-icons {
    font-size: 15px !important;
}

.sidebar-box .mw-cats-menu {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

/* .sidebar {
    padding-right: 50px;
} */
.well {
    border: 1px solid #ccc !important;
}

.wish-list-det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.select2-selection.select2-selection--multiple {
    border: 1px solid var(--m-color) !important;
    outline: 0;
    max-height: 87px;
    overflow: auto;
}

/*===== Proggresbar Section Start ===== */
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: flex;
    align-items: center;
    background-color: #28a745;
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;

}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}

.form-stepper {
    padding: 0;
}

select.mw-ui-field.element-block.shipping-country-select.form-control {
    width: 50%;
    padding: 4px;
}

.well.checkout-box-shadow-style {
    box-shadow: 0 0 6px 1px #ccc;
    padding: 20px;
}

.discount-button {
    margin-top: 30px;
}

/*======= Proggresbar Section End ======= */
input#act_button {
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar__widget .btn.btn-primary {
    margin-bottom: 40px;
    font-size: small;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.pass-wrapper {
    display: flex;
    justify-content: space-between;
}

.captcha-holder.captcha-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.module-shop-products #input_text {
    margin-bottom: 24px;
}

.listing-item {
    display: flex;
    flex-wrap: wrap;
}

.listing-item>li {
    width: 48%;
    padding: 0 10px;
    margin-bottom: 20px;
}


ul.portfolio-image li a {
    display: block;
    overflow: hidden;
}

.product-wrapper .card {
    height: 565px !important;
    padding: 0 7px;
}

.navbar-brand {
    float: none !important;
    width: 100% !important;
}


.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn {
    background-color: #309bff !important;
    border: 1px solid #309bff !important;
    color: #fff !important;
}

.mw-shop-checkout-personal-info-holder .btn:hover,
.discount-button .btn:hover {
    background-color: #0082fc !important;
    color: #fff !important;
    border: 1px solid #0082fc !important;
}

/* New */
.dropdown,
.dropup {
    position: static;
}
