@font-face {
  font-family: 'icomoon';
  src: url("line/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'icomoon-solid';
  src:url("solid/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

[class^="mw-micon-solid-"], [class*=" mw-micon-solid-"] {
  font-family: 'icomoon-solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import 'selectors.less';