@import "vars";

.typography-area {
  ul:not(.ul), ol:not(.ol) {
    padding-left: 15px;
  }

  ul:not(.ul) {
    li {
      list-style-type: disc;
      display: list-item;
      list-style-type: disc;
    }
  }

  ol:not(.ol) {
    li {
      list-style-type: decimal;
      display: list-item;
      list-style-type: disc;
    }
  }

  img {
    max-width: 100%;
  }

}