/* Skin 2 */
.bxSlider-skin-2 .bx-wrapper {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bxSlider-skin-2 .bx-wrapper .bx-prev {
    background: url('arrow-left.png') no-repeat;
    width: 26px;
    height: 53px;
    left: 50px;
}

.bxSlider-skin-2 .bx-wrapper .bx-next {
    background: url('arrow-right.png') no-repeat;
    width: 26px;
    height: 53px;
    right: 50px;
}

.bxSlider-skin-2 .bx-wrapper .bx-pager.bx-default-pager a {
    background: #b4b4b4;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.bxSlider-skin-2 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

.bxSlider-skin-2 .bxslider-wrapper {
    background: #000;
    position: relative;
    height: 550px;
}

.bxSlider-skin-2 .bxslider-wrapper .bxslider {
    background-size: cover;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: initial;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid {
    z-index: 2;
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: initial;
    padding: 0;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid .middle-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 140px;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid h1.bxSlider-title {
    color: #fff;
    font-size: 48px !important;
    text-align: center;
    font-weight: bold;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid p.bxSlider-desc {
    color: #fff;
    font-size: 24px !important;
    text-align: center;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid .button {
    text-align: center;
    margin-top: 20px;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid .button .btn-primary {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bxSlider-skin-2 .bxslider-wrapper .info-box-fluid .button .btn-primary:hover {
    background-color: #b4b4b4;
    border: 1px solid #b4b4b4;
}

.bxSliderWrapper ul li {
    visibility: hidden;
    position: absolute;
}

.bxSliderWrapper ul li:first-child,
body.loaded .bxSliderWrapper ul li{
    visibility: visible;
    position: relative;
}

@media screen and (max-width: 767px) {
    .bxSlider-skin-2 .bxslider-wrapper .bxslider {
        background-size: cover;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid p {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 991px) {
    .bxSlider-skin-2 .bxslider-wrapper .bxslider {
        background-size: cover;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid p {
        font-size: 32px !important;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid .middle-content {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid h1.bxSlider-title {
        font-size: 28px !important;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid p.bxSlider-desc {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 1199px) {
    .bxSlider-skin-2 .bxslider-wrapper .bxslider {
        background-size: cover;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid h1.bxSlider-title {
        font-size: 32px !important;
    }

    .bxSlider-skin-2 .bxslider-wrapper .info-box-fluid p.bxSlider-desc {
        font-size: 24px !important;
    }
}

/* Skins styles */
.bxSlider-skin-2 .skin-default {
}

.bxSlider-skin-2 .skin-left {
}