/* Default */


.post-list-template-default .post-list-image{
  width: 240px;
}


/* /Default */


/* Columns */

.module-posts-template-columns .module-posts-image{
  max-height: 120px;
  display: block;
}

.module-posts-template-columns .module-posts-image img{
    max-height: 120px;
    max-width: 100%;
}

.module-posts-template-columns .row{
  margin-bottom: 30px;
}
.module-posts-template-columns .row:last-child{
  margin-bottom: 0;
}



/* /Columns */






/* Masonry */


.module-posts-template-masonry .masonry-item{
  cursor: default;
  width: 33%;
  min-width: 300px;
  margin-bottom: 5px;
  box-shadow: 0 0px 2px -1px #999;
  border:1px solid #E0E0E0;
  background: white;
}

.module-posts-template-masonry .masonry-item img{
  width: 100%;
}

.module-posts-template-masonry .masonry-item-description{
  padding: 7px;
  font-size: 12px;
  color: #353535;
  text-align: center;
}
.module-posts-template-masonry .masonry-item-container{
  padding: 10px;
  zoom:1;
}
.module-posts-template-masonry .masonry-item-container:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.module-posts-template-masonry .masonry-item-container .description{
  font-size: 13px;
}
.module-posts-template-masonry .masonry-item-container small.muted{
  font-size: 11px;
}




/* /Masonry */


/* search */



.module-posts-template-search{
    min-width: 100%;
    background: white;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
}

.module-posts-template-search li{
  list-style: none;
  padding: 12px;
}

.module-posts-template-search li,
.module-posts-template-search p{
  font-size: 12px;
}

.module-posts-template-search .pagination-holder{
  padding-left: 12px;
  padding-right: 12px;
}

.module-posts-template-search-image{
  margin-right: 12px;
}

.module-posts-template-search-image-holder{
  width: 82px;
}

.module-posts-template-search-body > h5{
  margin-top: 0;
}




/* /search */


/* Sidebar */

.module-posts-template-sidebar li{
  list-style: none
}

.module-posts-template-sidebar-image-column{
  width: 80px;
}

.module-posts-template-sidebar-content-column h5{
  margin-top: 0;
  margin-bottom: 0;
}

/* /Sidebar */




