.row-mx-1 {
  margin-left: -1px !important;
  margin-right: -1px !important;
}
.row-mx-2 {
  margin-left: -2px !important;
  margin-right: -2px !important;
}
.row-mx-3 {
  margin-left: -3px !important;
  margin-right: -3px !important;
}
.row-mx-4 {
  margin-left: -4px !important;
  margin-right: -4px !important;
}
.row-mx-5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.row-mx-6 {
  margin-left: -6px !important;
  margin-right: -6px !important;
}
.row-mx-7 {
  margin-left: -7px !important;
  margin-right: -7px !important;
}
.row-mx-8 {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.row-mx-9 {
  margin-left: -9px !important;
  margin-right: -9px !important;
}
.row-mx-10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.row-mx-11 {
  margin-left: -11px !important;
  margin-right: -11px !important;
}
.row-mx-12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.row-mx-13 {
  margin-left: -13px !important;
  margin-right: -13px !important;
}
.row-mx-14 {
  margin-left: -14px !important;
  margin-right: -14px !important;
}
.row-mx-15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.row-mx-16 {
  margin-left: -16px !important;
  margin-right: -16px !important;
}
.row-mx-17 {
  margin-left: -17px !important;
  margin-right: -17px !important;
}
.row-mx-18 {
  margin-left: -18px !important;
  margin-right: -18px !important;
}
.row-mx-19 {
  margin-left: -19px !important;
  margin-right: -19px !important;
}
.row-mx-20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.row-mx-21 {
  margin-left: -21px !important;
  margin-right: -21px !important;
}
.row-mx-22 {
  margin-left: -22px !important;
  margin-right: -22px !important;
}
.row-mx-23 {
  margin-left: -23px !important;
  margin-right: -23px !important;
}
.row-mx-24 {
  margin-left: -24px !important;
  margin-right: -24px !important;
}
.row-mx-25 {
  margin-left: -25px !important;
  margin-right: -25px !important;
}
.row-mx-26 {
  margin-left: -26px !important;
  margin-right: -26px !important;
}
.row-mx-27 {
  margin-left: -27px !important;
  margin-right: -27px !important;
}
.row-mx-28 {
  margin-left: -28px !important;
  margin-right: -28px !important;
}
.row-mx-29 {
  margin-left: -29px !important;
  margin-right: -29px !important;
}
.row-mx-30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
.col-px-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-px-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.col-px-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.col-px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.col-px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.col-px-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.col-px-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.col-px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.col-px-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.col-px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.col-px-11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}
.col-px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.col-px-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.col-px-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.col-px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.col-px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.col-px-17 {
  padding-left: 17px !important;
  padding-right: 17px !important;
}
.col-px-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.col-px-19 {
  padding-left: 19px !important;
  padding-right: 19px !important;
}
.col-px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.col-px-21 {
  padding-left: 21px !important;
  padding-right: 21px !important;
}
.col-px-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.col-px-23 {
  padding-left: 23px !important;
  padding-right: 23px !important;
}
.col-px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.col-px-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.col-px-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}
.col-px-27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}
.col-px-28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.col-px-29 {
  padding-left: 29px !important;
  padding-right: 29px !important;
}
.col-px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
