//UI Variables
@import 'bootstrap_variables';

//Bootstrap
@import '../../bootstrap/scss/bootstrap';

//UI
@import '_ui';

$textDark: $gray-700;
$textGray: #7e7e7e;
$textLight: $white;

@import '_mw';