
.generate-spacer-row(30);
.generate-spacer-row(@n, @i: 1) when (@i =< @n) {
    .row-mx-@{i} {
        @row-step:(1px * @i);
        margin-left: -@row-step!important;
        margin-right: -@row-step!important;

    }
    .generate-spacer-row(@n, (@i + 1));
}

.generate-spacer-col(30);
.generate-spacer-col(@n, @i: 1) when (@i =< @n) {
    .col-px-@{i} {
        @col-step:(1px * @i);
        padding-left: @col-step!important;
        padding-right: @col-step!important;

    }
    .generate-spacer-col(@n, (@i + 1));
}