.mwphpdiff .Differences {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

.mwphpdiff .Differences thead th {
    text-align: left;
    border-bottom: 1px solid #000;
    background: #aaa;
    color: #000;
    padding: 4px;
}

.mwphpdiff .Differences tbody th {
    text-align: right;
    background: #ccc;
    width: 4em;
    padding: 1px 2px;
    border-right: 1px solid #000;
    vertical-align: top;
    font-size: 13px;
}

.mwphpdiff .Differences td {
    padding: 1px 2px;
    font-family: Consolas, monospace;
    font-size: 13px;
}

.mwphpdiff .DifferencesSideBySide .ChangeInsert td.Left {
    background: #dfd;
}

.mwphpdiff .DifferencesSideBySide .ChangeInsert td.Right {
    background: #cfc;
}

.mwphpdiff .DifferencesSideBySide .ChangeDelete td.Left {
    background: #f88;
}

.mwphpdiff .DifferencesSideBySide .ChangeDelete td.Right {
    background: #faa;
}

.mwphpdiff .DifferencesSideBySide .ChangeReplace .Left {
    background: #fe9;
}

.mwphpdiff .DifferencesSideBySide .ChangeReplace .Right {
    background: #fd8;
}

.mwphpdiff .Differences ins, .Differences del {
    text-decoration: none;
}

.mwphpdiff .DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
    background: #fc0;
}

.mwphpdiff .Differences .Skipped {
    background: #f7f7f7;
}

.mwphpdiff .DifferencesInline .ChangeReplace .Left,
.mwphpdiff .DifferencesInline .ChangeDelete .Left {
    background: #fdd;
}

.mwphpdiff .DifferencesInline .ChangeReplace .Right,
.mwphpdiff .DifferencesInline .ChangeInsert .Right {
    background: #dfd;
}

.mwphpdiff .DifferencesInline .ChangeReplace ins {
    background: #9e9;
}

.mwphpdiff .DifferencesInline .ChangeReplace del {
    background: #e99;
}

.mwphpdiff pre {
    width: 100%;
    overflow: auto;
}