
.testimonials-wrapper{
  min-height: 20px;
  max-width: 80%;
  margin: auto;
  text-align: center;
}
.testimonials-wrapper .owl-dot{
  border: 2px solid #cfd3d3;
  border-radius: 20px;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  width: 12px;
}
.testimonials-wrapper .owl-dot.active{
  background-color: #cfd3d3;
  border-color: #cfd3d3;
}
.testimonial-content{
  padding: 20px 0;
}

.testimonial-quote-image,
.testimonials-wrapper .testimonial-quote-image,
.testimonials-wrapper .owl-item .testimonial-quote-image{
  max-width: 60px;
  max-height: 60px;
  width: auto ;
  height: auto;
  min-height: 0;
  min-width: 0;
  display: inline-block;
}
