.mw-block-edit-holder{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.mw-block-edit-slider{
    width:200%;
    overflow: hidden;
    position: relative;
}
.mw-block-edit-main-slide,
.mw-block-edit-edit-slide{
    width: 50%;
    float: left;
    position: relative;
}
