/*
 * Microweber - Framework
 *
 * Default styles
 * Do not change anything!
 *
 */

* {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
template{
    display: none !important;
}

body {
    font-feature-settings: 'liga';
    cursor: default;
}

.mw-defaults {
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mw-defaults * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

.mw-defaults li {
    line-height: 22px;
}

.mw-defaults {
    font-size: 12px;
    color: #212121;
    font-weight: normal;
}

.mw-defaults li, .mw-defaults ol, .mw-defaults ul {
    margin: 0;
    padding: 0;
}
body.mw-preview {
    -moz-transform: scale(0.36);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.36);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.36);
    -webkit-transform-origin: 0 0;
    transform: scale(0.36);
    transform-origin: 0 0;
}

.mw-empty {
    display: none;
}

.mw-empty-element:empty {
    display: none;
}

img[src*=pixum_img] {
    background: #e8e8e8;
}

.autoscale {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    display: block;
}

.autoscale-x {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.autoscale-y {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
    display: block;
}

.mw-hide {
    display: none !important;
}

.mw-row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: table !important;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    zoom: 1;
}

/*.mw-col, .mw-row, .element {
    position: relative;
}*/

body.state-element .mw-row .element {
    z-index: 91;
}

.element, .edit .module {
    clear: both;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}

.mw-live-edit .module {
    min-height: 20px;
}

img[align='center'],
img[align='middle'] {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.element, .mw-col, .mw_item {
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.mw-col-container > h1:first-child,
.mw-col-container > h2:first-child,
.mw-col-container > h3:first-child,
.mw-col-container > h4:first-child,
.mw-col-container > h5:first-child,
.mw-col-container > p:first-child,
.mw-ui-col-container > h1:first-child,
.mw-ui-col-container > h2:first-child,
.mw-ui-col-container > h3:first-child,
.mw-ui-col-container > h4:first-child,
.mw-ui-col-container > h5:first-child,
.mw-ui-col-container > p:first-child {
    margin-top: 0;
}

.mw-col-container img.element:first-child,
.mw-col-container .picture:first-child img.element {
    margin-top: 0;
}

.mw-col-container img.element:last-child,
.mw-col-container .picture:last-child img.element {
    margin-bottom: 0;
}

/*****************  Grids  *******************/

.mw-col {
    display: table-cell;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.edit, .mw-col {
    /*position: relative;*/
    vertical-align: top;
}

.mw-live-edit.dragStart div.edit, .mw-live-edit.dragStart div.mw-col {
    min-height: 50px;
}

/*.edit:after, .mw-col:after, .element:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}*/

.mw-live-edit .element:empty {
    min-height: 20px;
}

.mw-col + br, .mw-col + p {
    display: none !important;
}

.mw-col-container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    min-height: 30px;
    position: relative;
    vertical-align: top;
}

.mw-ui-col:first-child > .mw-col-container {
    padding-left: 0
}

.mw-ui-col:last-child > .mw-col-container {
    padding-right: 0
}

html[dir="rtl"] .mw-ui-col:first-child > .mw-col-container {
    padding-left: 10px;
    padding-right: 10px;
}

html[dir="rtl"] .mw-ui-col:last-child > .mw-col-container {
    padding-right: 10px;
    padding-left: 10px;
}

.mw-col-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.mw-row > .mw-col:first-child > .mw-col-container {
    padding-left: 0;
}

.mw-row > .mw-col:last-child > .mw-col-container {
    padding-right: 0;
}

.mw-col img {
    height: auto !important;
    max-width: 100%;
}

.free-element {
    position: relative;
    min-height: 300px;
}

@media (max-width: 767px) {
    .mw-row {
        display: block;
    }

    .mw-col {
        width: auto !important;
        float: none;
        display: block !important;
    }

    .mw-col > .ui-resizable-e {
        display: none;
    }

    .mw-row .mw-col .mw-col-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Static Grid */
.mw-ui-row, .mw-ui-row-nodrop {
    display: table !important;
    table-layout: fixed;
    width: 100%;
}

.mw-ui-row-fixed {
    table-layout: fixed;
}

.mw-ui-col, .mw-ui-row-nodrop .mw-ui-col {
    display: table-cell;
    vertical-align: top;
}

.mw-ui-col-container {
    position: relative;
    display: block;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
}

.mw-ui-row > .mw-ui-col:only-child > .mw-ui-col-container, .mw-ui-row-nodrop > .mw-ui-col:only-child > .mw-ui-col-container {
    padding: 0px;
}

.mw-ui-row > .mw-ui-col:first-child > .mw-ui-col-container, .mw-ui-row-nodrop > .mw-ui-col:first-child > .mw-ui-col-container {
    padding-left: 0
}

.mw-ui-row > .mw-ui-col:last-child > .mw-ui-col-container, .mw-ui-row-nodrop > .mw-ui-col:last-child > .mw-ui-col-container {
    padding-right: 0;
}

.mw-ui-col-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.vertical-middle,
.vertical-middle > *,
.vertical-middle > .mw-ui-col > .mw-ui-col-container,
.vertical-middle > .mw-ui-col > .mw-ui-col-container > * {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .mw-ui-row-drop-on-1024 > .mw-ui-col {
        display: block !important;
        clear: both;
        width: auto !important;
    }

    .mw-ui-row-drop-on-1024 > .mw-ui-col > .mw-ui-col-container {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 768px) {
    .mw-ui-row, .mw-ui-row > .mw-ui-col {
        display: block !important;
        clear: both;
        width: auto !important;
    }

    .mw-ui-row > .mw-ui-col > .mw-ui-col-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/***************** /Grids  *******************/

.layout-element {
    clear: both;
    float: none;
}

.mw-embed-iframe, .mwembed {
    padding: 12px 0;
    min-height: 200px;
    position: relative;
}

.mwembed {
    min-height: 20px;
}

.mw-embed-iframe iframe,
.mwembed video,
.mwembed audio,
.mwembed iframe {
    max-width: 100%;
    max-height: 100%;
}

body.dragStart .mwembed:after,
body.Resizing .mwembed:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: transparent;
}

.mw-embed-embed {
    padding: 12px 0;
}

.mw-embed-embed embed, .mw-embed-embed object {
    max-width: 100%;
}

.mw-uploaded-file {
    font-size: 12px;
    text-decoration: underline;
    color: #4688EC;
    display: inline-block;
    margin-right: 7px;
}

.mw-uploaded-file:hover {
    text-decoration: none;
}

.mw_clear {
    display: block;
    height: 1px;
    overflow: hidden;
    clear: both;
}

.mw-uploader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mw-uploader iframe {
    min-height: 100%;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.mw-vspace {
    padding: 12px 0;
}

.vSpace {
    clear: both;
    display: block;
    padding-bottom: 6px;
    padding-top: 6px;
}

#mw-html-info {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.free-item {
    position: absolute;
}

.edit .module-video, .edit .module-pictures {
    padding: 10px 0;
}

/* Tables */

table[class*='mw-wysiwyg-table'] {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    table-layout: fixed;
}

table[class*='mw-wysiwyg-table'] td {
    padding: 6px;
    vertical-align: top;
}

table[class*='mw-wysiwyg-table'].valign td {
    vertical-align: middle;
}

.mw-wysiwyg-table > tbody > tr > td {
    border: 1px solid #DDDDDD;
}

/* Borderless */

.mw-wysiwyg-table-simple > tbody > tr > td {
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: #DDDDDD;
}

/* Zebra */

.mw-wysiwyg-table-zebra > tbody > tr > td {
    border: 1px solid #DDDDDD;
    background-color: #F3F3F3;

}

.mw-wysiwyg-table-zebra > tbody > tr:nth-child(2n+1) > td {
    background-color: #EDEDED;
}

/* Borderless Zebra */

.mw-wysiwyg-table-simple-zebra > tbody > tr > td {
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: #DDDDDD;
    background-color: #F3F3F3;
}

.mw-wysiwyg-table-simple-zebra > tbody > tr:nth-child(2n+1) > td {
    background-color: #EDEDED;
}

.well {
    display: block;
}

.valign {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.valign-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.valign-cell > * {
    vertical-align: middle;
}

.img-polaroid, .img-rounded {
    display: inline-block;
}

[class*="span"] {
    margin-bottom: 20px;
}

/* /Tables */

#mw-inline-tableControl {
    display: none;
}

.mw-live-edit #mw-inline-tableControl {
    display: block;
}

.mw-cancel {
    font-size: 11px;
    color: #188DE7;
    text-align: center;
    cursor: pointer;
    padding: 5px 19px;
    border: 1px solid transparent;
}

.mw-cancel:hover {
    background: #F3F3F3;
    border-color: #D7D7D7;
}

.semi_hidden {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
}

.mw-span-font-size > * {
    font-size: inherit;
}

.pagination-holder > ul {
    margin: 10px 0;
}

.pagination-holder li {
    list-style: none;
    display: inline;
}

.mw-defaults img {
    border: none;
    max-width: 100%;
}

.mw-captcha-img {
    min-width: 75px;
    vertical-align: middle;
}

/* Overwriting clearing for elements that are columns */
.element[class*='col-'] {
    clear: none;
}

/* Title is hidden in admin panel */
.mw-admin-view [rel='content'][field='title'] {
    display: none !important;
}

span.mw-powered-by {
    display: inline !important;
}

.mw-ui-btn-nav-tabs .mw-ui-btn .mw-icon-module,
.mw-ui-btn-nav-tabs .mw-ui-btn .mw-icon-template,
#create-menu-btn .mw-icon-plus {
    /*float: left;*/
    margin-right: 5px;
}

.mw-image-holder {
    position: relative;
}

.mw-image-holder > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}

.mw-image-holder-content {
    position: relative;
    z-index: 1;
}

.mw-image-holder-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

/* TODO */
.control-group select.mw-ui-field.form-control,
.module-contact-form select.mw-ui-field,
.module-contact-form select.form-control,
.module-contact-form select {
    height: auto;
}

.gateway-selector img {
    max-width: 100px;
    width: fit-content;
}

.mw-padding-top-1 {
    padding-top: 0px
}

.mw-padding-top-2 {
    padding-top: 20px
}

.mw-padding-top-3 {
    padding-top: 40px
}

.mw-padding-top-4 {
    padding-top: 60px
}

.mw-padding-top-5 {
    padding-top: 80px
}

.mw-padding-bottom-1 {
    padding-bottom: 0px
}

.mw-padding-bottom-2 {
    padding-bottom: 20px
}

.mw-padding-bottom-3 {
    padding-bottom: 40px
}

.mw-padding-bottom-4 {
    padding-bottom: 60px
}

.mw-padding-bottom-5 {
    padding-bottom: 80px
}

.module-google-maps {
    position: relative;
}

#category-parent-selector.mw-tree-nav-skin-default .mw-tree-item-title {
    width: auto;
}

.mw-modal-confirm-actions {
    text-align: center;
}

.mw-modal-confirm-actions .mw-ui-btn {
    min-width: 100px;
    vertical-align: top;
}

.gateway-selector li {
    list-style-type: none;
}

.css-preset-dropdown {
    border: 0 !important;
    line-height: 1.2 !important;
    padding: 0 !important;
}

.css-preset-dropdown:after {
    margin-left: 0 !important;
    font-size: 20px;
}

.mw-bg-mask{
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0) !important;
}


.mw-template-document-preview *, .mw-template-document-preview{
    pointer-events: none !important;
}
.mw-template-document-preview:after, .mw-template-document-preview:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: '';
    z-index: 99999;
    pointer-events: all !important;
}
.mw-template-document-preview:before{
    position: fixed;

}

.mw-responsive-table-wrapper{
    max-width: 100%;
    overflow: auto;
}
