#module-layouts-549--3 > section.section-16.p-t-0.p-b-0.fx-particles.edit.safe-mode.nodrop > div.container-fluid > div.row.flexbox-container > .col-12.col-lg-6.col-xl-7.left-side.text-center.text-lg-left {
	background-color: #c5c981;
	color: #547824;
}
#element_1617732049313 {
	color: #547824;
}
#element_1617732051042 {
	color: #547824;
}
#layouts-20210406183208 > section.section.p-t-30.p-b-30.edit.safe-mode.nodrop > div.container > .row {
	background-color: #c5c981;
}
#element_1617732053750 {
	color: #000000;
}
#element_1617734165117 {
	color: #547824;
}
#element_1617734164673 {
	color: #547824;
}
#element_1617734806532 {
	color: rgba(84,120,36,0.85);
}
.edit[field="layout-skin-10-module-layouts-549--2"][rel="module"] {
	background-color: #e5c954;
}
.edit[field="layout-skin-10-layouts-20210406180636"][rel="module"] {
	background-color: #e5c954;
}
#layouts-20210406184751 > section.section-25.p-t-80.p-b-80.edit.safe-mode.nodrop > div.container.align-self-center.info-holder > .row {
	background-color: #e5c954;
}
.edit[field="layout-skin-10-layouts-20210406184751"][rel="module"] {
	background-color: #e5c954;
}
#element_1617816598517 {
	background-color: #fffefe;
}
#module-layouts-1--2 > section.section-7.p-t-50.p-b-50.edit.safe-mode.nodrop > div.container > div.row > div.col-12.col-lg-12.col-xl-10.mx-auto > div.row > div.m-b-40.col-sm-6.col-lg-4.cloneable > .card.shadow-sm {
	background-color: #e5c954;
}
#element_1617706878081 {
	background-image: none;
}
#module-layouts-1-slider > div.home-slider > div.bx-wrapper > div.bx-viewport > div.bxSlider > div.slide > div.img-holder.center > div.container.info-holder > .m-b-20 {
	text-align: left;
}
#module-layouts-1-slider > div.home-slider > div.bx-wrapper > div.bx-viewport > div.bxSlider > div.slide > div.img-holder.center > div.container.info-holder > p {
	text-align: left;
}
.edit[field="layout-partners-skin-2-layouts-20210421193845"][rel="module"] {
	background-color: #981818;
}
#element_1617710466423 {
	color: #000000;
}
#element_1617710466222 {
	color: #121111;
}
