/* Cart - Template - Default */



ul.mw-custom-fields-cart-item li {
    list-style: none
}

/********************
        Small
*********************/

.mw-cart-small .mw-ui-row-nodrop .mw-ui-col > *, .mw-cart-small .mw-ui-row-nodrop .mw-ui-col {
    vertical-align: middle;
    text-align: center;
    line-height: normal;
}

.mw-cart-small .mw-ui-row-nodrop .mw-ui-col {
    height: 40px;
}

.icon-shopping-cart-holder {
    width: 30px;
}

.mw-cart-small-icon-shopping-cart {
    display: inline-block;
    width: 30px;
    height: 25px;
    background: url(cart.svg) no-repeat center;
    background-size: contain;
    position: relative;
    top: -2px;
}

.mw-cart-small {
    font-size: 13px;
    /*width: 240px;*/
    display: inline-block;
    color: #333333;
    /*border: 1px solid #E3E4E6;*/
    border-radius: 1px;
    /*box-shadow: inset 0 0 1px #E3E4E6;*/
    /*background: #f9f9f9;*/
    /*background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 86%, #eeeeef 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9f9f9), color-stop(86%, #f9f9f9), color-stop(100%, #eeeeef));*/
    /*background: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 86%, #eeeeef 100%);*/
    /*background: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 86%, #eeeeef 100%);*/
    /*background: -ms-linear-gradient(top, #f9f9f9 0%, #f9f9f9 86%, #eeeeef 100%);*/
    /*background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 86%, #eeeeef 100%);*/
}

.mw-cart-small > .mw-ui-row-nodrop {
    width: 100%;
}

.mw-cart-small-no-items {
    min-width: 0;
}

.mw-cart-small-checkout {
    display: block;
    outline: none;
    text-decoration: none;
    float: right;
    color: #333333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #E3E4E6;
    height: 40px;
    padding: 12px;
    text-align: center;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 27%, #e4e4e4 100%);
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(27%, #f9f9f9), color-stop(100%, #e4e4e4));*/
    background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 27%, #e4e4e4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 27%, #e4e4e4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 27%, #e4e4e4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 27%, #e4e4e4 100%);
}

.mw-cart-small-checkout:hover, .mw-cart-small-checkout:focus {
    color: #333;
    background: #fff;
    outline: none;
    text-decoration: none;
}

.mw-cart-small-checkout:active {
    box-shadow: 1px 1px 6px -3px rgba(51, 51, 51, 0.5) inset;
}

.mw-cart-small-order-info {
    padding: 0 8px;
    white-space: nowrap;
}

.mw-cart-small .no-items {
    padding: 0 20px 0 5px;
    font-size: 14px;
}

/********************
       / Small
*********************/

.icon-trash {
    background: url(trash.png) no-repeat;
    display: inline-block;
    width: 11px;
    height: 13px;
}

/* sidebar */

.mw-cart-big input[type='number'], .mw-sidebar-cart input[type='number'] {
    width: 60px;
}

.mw-cart-big input[type='number']::-webkit-outer-spin-button, .mw-sidebar-cart input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mw-cart-table-price {
    white-space: nowrap;
}

/* /sidebar */

.mw-cart {
    list-style: inside;
}

/* Cart - Template - Big 1 */
.mw-shopping-cart-big-layout-1 .mw-qty-field {
    display: inline-block;
    margin: 10px auto 0 auto;
}

.mw-shopping-cart-big-layout-1 .mw-qty-field input,
.mw-shopping-cart-big-layout-1 .mw-qty-field button {
    float: left;
    display: block;
}

.mw-shopping-cart-big-layout-1 .mw-qty-field button {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    width: 30px;
    height: 30px;
    outline: none;
}

.mw-shopping-cart-big-layout-1 .mw-qty-field button:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.mw-shopping-cart-big-layout-1 .mw-qty-field button i {
    font-size: 28px;
}

.mw-shopping-cart-big-layout-1 .mw-qty-field input {
    background: transparent;
    border: 1px solid transparent;
    color: #000;
    height: 30px;
    width: 50px;
    text-align: center;
    outline: none;
}

.mw-shopping-cart-big-layout-1 .left {
    text-align: left;
}

.mw-shopping-cart-big-layout-1 .center {
    text-align: center;
}

.mw-shopping-cart-big-layout-1 .right {
    text-align: right;
}

.mw-shopping-cart-big-layout-1 td {
    vertical-align: middle !important;
}

.mw-shopping-cart-big-layout-1 .remove {
    color: #000;
}

.mw-shopping-cart-big-layout-1 .mw-cart-table-product {
    font-weight: bold;
}

.mw-shopping-cart-big-layout-1 .table > tbody > tr > td,
.mw-shopping-cart-big-layout-1 .table > tbody > tr > th, .table > tfoot > tr > td,
.mw-shopping-cart-big-layout-1 .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0;
    padding: 15px 8px;
}

.mw-shopping-cart-big-layout-1 .table > thead > tr > th {
    border-bottom: 2px solid #ddd !important;
    border-top: 2px solid #ddd !important;
    padding: 15px 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #636363;
}

.mw-shopping-cart-big-layout-1 .shipping-info h4 {
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
    margin: 0;
    line-height: 22px;
}

.mw-shopping-cart-big-layout-1 .shipping-info hr {
    margin: 10px 0;
}

.mw-shopping-cart-big-layout-1 .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mw-shopping-cart-big-layout-1 .total-lable {
    color: #636363;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}

.mw-shopping-cart-big-layout-1 .total-price {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 24px;
}

.mw-shopping-cart-big-layout-1 select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Cart - Template - Big 2 */
.mw-shopping-cart-big-layout-2 .mw-qty-field {
    display: inline-block;
    margin: 10px 0 0 -10px;
}

.mw-shopping-cart-big-layout-2 .mw-qty-field input,
.mw-shopping-cart-big-layout-2 .mw-qty-field button {
    float: left;
    display: block;
}

.mw-shopping-cart-big-layout-2 .mw-qty-field button {
    color: #000;
    width: 22px;
    height: 22px;
    outline: none;
    background: none;
    border: 0;
}

.mw-shopping-cart-big-layout-2 .mw-qty-field button i {
    font-size: 22px;
    width: 22px;
}

.mw-shopping-cart-big-layout-2 .mw-qty-field input {
    background: transparent;
    border: 1px solid transparent;
    color: #000;
    height: 22px;
    width: 30px;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: normal;
}

.mw-shopping-cart-big-layout-2 .left {
    text-align: left;
}

.mw-shopping-cart-big-layout-2 .center {
    text-align: center;
}

.mw-shopping-cart-big-layout-2 .right {
    text-align: right;
}

.mw-shopping-cart-big-layout-2 td {
    vertical-align: middle !important;
}

.mw-shopping-cart-big-layout-2 .remove {
    color: #000;
}

.mw-shopping-cart-big-layout-2 .mw-cart-table-product {
    font-weight: bold;
}

.mw-shopping-cart-big-layout-2 .table > tbody > tr > td,
.mw-shopping-cart-big-layout-2 .table > tbody > tr > th, .table > tfoot > tr > td,
.mw-shopping-cart-big-layout-2 .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0;
    font-weight: normal;
    padding: 15px 0px;
}

.mw-shopping-cart-big-layout-2 .table img {
    max-width: 80px;
}

.mw-shopping-cart-big-layout-2 .table > thead > tr {
    display: none;
}

.mw-shopping-cart-big-layout-2 .table > thead > tr > th {
    border: 0;
    padding: 15px 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #636363;
}

.mw-shopping-cart-big-layout-2 .shipping-info h4 {
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
    margin: 0;
    line-height: 22px;
}

.mw-shopping-cart-big-layout-2 .shipping-info hr {
    margin: 10px 0;
}

.mw-shopping-cart-big-layout-2 .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mw-shopping-cart-big-layout-2 .total-lable {
    color: #636363;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}

.mw-shopping-cart-big-layout-2 .total-price {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 24px;
}

.mw-shopping-cart-big-layout-2 select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .mw-shopping-cart-big-layout-2 .mw-discounts-module input {
        padding: 20px 5px;
        font-size: 12px;
    }

    .mw-shopping-cart-big-layout-2 .mw-discounts-module button.btn-default {
        padding: 11px 10px;
        font-size: 12px;
    }
}



