
input.mw-uploader-input,
.mw-filepicker-root .mw-ui-field-holder input.mw-uploader-input{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    font-size: 99px;
    opacity: 0 !important;
}

.cat_selector_view_ctrl {
    clear: both;
    padding: 7px 10px;
    font-size: 11px;
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 6px;
    display: none;
}

.cat_selector_view_ctrl a {
    padding: 2px 12px;
    border: 1px solid transparent;
    font-size: 11px;
    border-radius: 2px;
}

.cat_selector_view_ctrl a.active {
    background: #E1E1E1;
    border-color: #BDBBBB;
}


.mw-tag-selector.mw-ui-field-full {
    width: 100%;
}

/*.mw-tag-selector > span > i {*/
/*font-size: 16px;*/
/*color: #E8E8E8;*/
/*margin-right: 7px;*/
/*margin-top: 1px;*/
/*float: left;*/
/*}*/

.mw-tag-selector > span > i:after {
    font-family: Microweber;
    font-style: normal;
}

.mw-tag-selector > span > i.have_category:after {
    content: '\0071'
}

.mw-tag-selector > span > i.is_page:after {
    content: '\0071';
}

.mw-tag-selector > span > i.category_element:after {
    content: '\0063';
}

.mw-tag-selector > span > i.is_shop:after {
    content: 's';
}

.mw-tag-selector > span > i.is_blog:after {
    content: '\0062';
}

.mw-tag-selector > span > i.is_home:after {
    content: '\0105'
}

div.mw-custom-fields-tags a.ui-draggable-dragging:after {
    display: none !important;
}

.mw-tag-selector .mw-ui-invisible-field {
    font-size: 14px;
    padding: 7px 0;
}


/*.mw-tag-selector .post-category-tags .mw-ui-btn {
    float: left;
    margin-right: 5px;
    padding-right: 16px;
    background-color: #fff;
    border-color: #eaeaea;
}
.mw-tag-selector .post-category-tags .mw-ui-btn>[class*=mai-],
.mw-tag-selector .post-category-tags .mw-ui-btn>[class*=mw-micon-],
.mw-tag-selector .post-category-tags .mw-ui-btn>[class*=mw-icon-] {
    margin-right: 5px;
}
.mw-tag-selector .post-category-tags .mw-ui-btn:hover {
    background: #0086db;
    color: #fff;
}*/


.mw-text-checker {
    display: inline !important;
}

.advanced_settings_holder {
    display: none;
}

.mw-ui-check-selector {
    line-height: 14px;
}

.mw-ui-check-selector .mw-ui-check span {
    margin: 0 3px 3px;
}

.post-thumb-uploader {
    width: auto;
    height: auto;
    position: relative;
    display: block;
}
.post-thumb-uploader.mw-filepicker-desktop-type-big {
    width: 100%;
}

.post-media-select-all-pictures.all-selected:before{
    content: "\F0856";
}
.post-media-select-all-pictures:before{
    display: inline-block;
    content: "\F0131";
    font-family: "Material Design Icons";
    color: #009cff;
    font-size: 20px;
    vertical-align: middle;
}
.post-media-select-all-pictures.active{
    display:inline-block;
}
.post-media-select-all-pictures{
    display: none;
    white-space: nowrap;
    position: absolute;
    margin: -55px 0 0;
}


.admin-thumbs-holder {
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.mw-post-media-img {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-color: #f2f3f5;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-sortable-helper .mw-post-media-img {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.admin-thumbs-holder .admin-thumb-item.mw-post-media-img{
    display: inline-block;
    width: 100%;
    height: 100%;
}


.mw-drop-zone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(225, 241, 253, 0.91);
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;

    border: 2px dashed #4592ff;
}

.dropable-zone.small-zone .holder{
    padding-left: 0;
    padding-right: 0;
}

.admin-thumbs-holder .featured-image{
    display: none;
}

.admin-thumb-item .mw-ui-check span {
    margin-right: 0 !important;
}

.admin-thumb-item .mw-ui-check {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    /*visibility: hidden;
    opacity: 0;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.select_actions > span {
    cursor: pointer;
    font-size: 20px;
}

#select_dropdown {
    float: left;
}


.select_actions_holder{
    position: absolute;
    top: 15px;
    right: 5px;
}

.select_actions {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

.select_actions .mw-ui-btn {
    width: 40px;
}
.select_actions > span{
    font-size: 12px;
    opacity: 1;
    visibility: visible;
}
.dropable-zone.square-zone.small-zone {
    min-width: 100% !important;
}

#post-media-card-header.active{
    opacity: 0;
    pointer-events: none;
}

.pictures-admin-container .select_actions,
.pictures-admin-container .select_actions_holder{
    float: right;
    position: static;
}
.pictures-admin-container .select_actions_holder {
    float: right;
}
.pictures-admin-container .post-media-select-all-pictures{
    position: relative;
    margin-top: 0;
}

.btnnv-label {
    float: left;
    margin: 3px 7px 0 0;
}

.select_actions.active {
    opacity: 1;
    visibility: visible;
}

.do-select .admin-thumb-item .mw-ui-check {
    visibility: visible;
    opacity: 1;
}

.admin-thumb-item:after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pictures-admin-content-type-product .admin-thumb-item-loading:before,
.pictures-admin-content-type-post .admin-thumb-item-loading:before{
    font: normal normal normal 60px/1 "Material Design Icons";
    color: #bcbfc2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: .2;
}
.pictures-admin-content-type-product .admin-thumb-item-loading:before {
    content: "\F049A";
}
.pictures-admin-content-type-post .admin-thumb-item-loading:before {
    content: "\F09A8";
}

.admin-thumb-item.ui-sortable-helper {
    cursor: grabbing;
}
.admin-thumb-item {
    display: block;
    position: relative;
    float: left;
    width: 18%;
    height: 110px;
    margin: 0 1% 2%;
    border: 1px solid #cfcfcf;
    cursor: grab;
}

.admin-thumbs-holder .admin-thumb-item-placeholder {
    display: block;
    float: left;
    position: relative;
    width: 18%;
    height: 110px;
    margin: 0 1% 1%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFF66;
    border: 1px dotted #235F99;
    visibility: visible !important;
}
.admin-thumbs-holder .admin-thumb-item-placeholder.admin-thumb-item-placeholder-first{
    width: 38%;
    margin-bottom: 0;
}

.admin-thumbs-holder .admin-thumb-item:first-child{
    width: 38%;
    margin-top: 0;
    margin-bottom: 0;

}



.admin-thumb-item.checked:after{
    background-color: rgba(69, 146, 255, 0.2);
}
.admin-thumb-item.checked {
    border-color: #4592ff;
}

.admin-thumb-item:hover:after,
.admin-thumb-item.checked:hover:after{
    background: -moz-linear-gradient(top,  rgba(106,174,219,0.6) 0%, rgba(229,229,229,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(106,174,219,0.6) 0%,rgba(229,229,229,0) 100%);
    background: linear-gradient(to bottom,  rgba(106,174,219,0.6) 0%,rgba(229,229,229,0) 100%);
}

.uimprogress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #D8FFC4;
    width: 0%;
    overflow: hidden;
    font-size: 10px;
    padding: 1px 0;
    color: #618D0D;
    font-style: normal;
    text-align: center;
}

.admin-thumb-item-loading .mw-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.admin-thumb-item-loading .mw-post-media-img {
    background: #f2f3f5 /*url(../img/img_check_loading.gif) no-repeat center center*/;
}

.mw-post-media-img-edit {
    clear: both;
    padding-top: 5px;
}

.mw-post-media-img-edit-temp {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mw-post-media-img-edit input {
    width: 100%;
}

.mw-post-media-img-edit .image-tags {
    display: none;
    margin-top: 3px;
}

.mw-post-media-img-edit {
    display: none;
}

.mw-post-media-img-edit .mw-icon-close,
.image-tag-view {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    height: 19px;
}

.image-tag-view {
    left: 0;
    right: auto;
    padding-top: 2px;
    display: none !important;
}

.admin-thumb-item:hover .mw-post-media-img-edit .mw-icon-close,
.admin-thumb-item:hover .image-tag-view {
    display: inline-block;
}

.admin-thumb-item:hover .mw-post-media-img-edit input, .mw-post-media-img-edit input:focus {
    border-color: #BDBDBD
}

.mw-icon-close:hover {
    opacity: 1;
}

.admin-thumb-item.ui-sortable-helper .mw-post-media-img {
    box-shadow: 0 0 18px -14px #111;
}

.admin-thumb-item.ui-sortable-helper .mw-post-media-img-edit {
    visibility: hidden;
}




#pages_edit_container {
    position: relative;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
}

#pages_edit_container .page_posts_list_tree li {
    list-style: none;
}

#pages_edit_container .page_posts_list_tree li > a {
    display: block;
    position: relative;
    padding: 15px 0 15px 95px;
    background-image: url(../img/static.big.png);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
}

#pages_edit_container .page_posts_list_tree li:last-child > a {
    border-bottom: none;
}

#pages_edit_container .page_posts_list_tree li:first-child > a {
    border-top: 1px solid #D9D9D9;
}

body #pages_edit_container .page_posts_list_tree li a.depth-2 {
    padding-left: 125px;
    background-position: 44px 50%;
}

body #pages_edit_container .page_posts_list_tree li a.depth-3 {
    padding-left: 145px;
    background-position: 66px 50%;
}

body #pages_edit_container .page_posts_list_tree li a.depth-4 {
    padding-left: 165px;
    background-position: 88px 50%;
}

#pages_edit_container .page_posts_list_tree li a .mw_toggle_tree {
    display: none;
}

#pages_edit_container .page_posts_list_tree li > a:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#pages_edit_container .page_posts_list_tree li > a:hover {
    background-color: #F9F9F9;
}

#pages_edit_container .page_posts_list_tree li.category_element > a {
    background-image: url(../img/cat.big.png);
    background-position: 22px 50%;
}

#pages_edit_container .page_posts_list_tree li.have_category > a {
    background-image: url(../img/dynamic.big.png);
}

#pages_edit_container .page_posts_list_tree li.is_shop > a {
    background-image: url(../img/shop.big.png);
    background-position: 21px 50%;
    background-size: 24px auto;
}

#pages_edit_container .page_posts_list_tree li.is_blog > a {
    background-image: url(../img/blog.big.png);
    background-position: 23px 50%;
}

#pages_edit_container .page_posts_list_tree li.is_home > a {
    background-image: url(../img/home.big.gif);
    background-position: 23px 50%;
}

.mw_upload_frame {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}



#admin_notifications .mw-success {
    background-color: rgba(72, 173, 121, 0.7);
}

#admin_notifications .mw-notification-new {
    background-color: #ecf9d7;
}

.mw-scaleto {
    position: fixed;
    z-index: 9998;
    top: 50%;
    left: 50%;
    /*  transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;*/
}

#mw-main-postpage-editor.mw-scaleto {
    background: white;
    padding: 0 20px 20px;
    box-shadow: 0 0 6px #ccc;
}

#mw-main-postpage-editor.mw-scaleto iframe {
    width: 100%;
    height: 535px;
    height: 85%;
    height: calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
}

#mw-main-postpage-editor-drag-handle {
    display: none;
    height: 20px;
    cursor: move;
}

.mw-scaleto #mw-main-postpage-editor-drag-handle {
    display: block;
}

#mw-main-postpage-editor-drag-handle .mw-close {
    position: absolute;
    right: 8px;
    top: 8px;
}

body.mw-external-loading:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: white url(../img/img_check_loading.gif) no-repeat center center;
    opacity: .8;
}

.mw-save-content-bar {
    clear: both;
    text-align: right;
    padding: 12px 0;
}

#module-modal-settings-menu-holder .mw-dropdown-content {
    width: 220px;
    font-size: 11px;
    padding: 12px;
}

#module-modal-settings-menu-holder .mw-dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#module-modal-settings-menu-holder .mw-dropdown-content .mw-close {
    margin-top: 7px;
}

#module-modal-settings-menu-holder ul .module-templates-action-btn {
    float: right;
    margin-right: 10px;
}

.mw-before-leave-container {
    text-align: center;
}

.mw-before-leave-container p {
    padding: 16px 0;
}

.mw-before-leave-container [class*='confirm-btn'] {
    margin: 10px 13px 8px;
    width: 165px;
    opacity: 0.6;
}

.mw-before-leave-container [class*='confirm-btn']:hover {
    opacity: 1;
}

[class*='confirm-btn'] {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 12px;
    cursor: pointer;
}

.confirm-btn-red {
    color: white !important;
    border-color: #ED4B12;
    background: #ED4B12;
}

.confirm-btn-green {
    background: #C5FFA8;
    border-color: #BAC99C;
    color: #4D7301;
}

.mw_alert_holder {
    font-size: 17px;
}

.add-edit-page-post .toggle-active {
    background: #FAFAFA;
    margin: 10px 0 5px;
    padding: 15px;
}

.add-edit-page-post .mw-layout-selector-holder {
    background: none;
    padding: 15px 0;
}

.add-edit-page-post .toggle-active:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#page_title_and_url {
    padding-bottom: 20px;
}

.quick_done_alert {
    padding: 12px;
    text-align: center;
}

#mw-ui-category-selector-manage {
    border: none;
    background: transparent;
}



.mw-element-name-handle-no-fallback-icon:before {
    display: none !important;
}

.mw-range {
    position: relative;
    border: none;
}
.mw-range.ui-widget.ui-widget-content {
    border: none;
}

.mw-range,
.mw-range.ui-widget {
    height: 3px;
    display: inline-block;
    position: relative;
    background-color: #cfcfcf;
    min-width: 66px;
}

.mw-range .ui-slider-range {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0086db;
    border: none;
}

.mw-range .ui-slider-handle {
    width: 15px;
    height: 15px;
    position: relative;
    top: -6px;
    display: block;
    border-radius: 15px;
    background-color: white;
    border: 2px solid #cfcfcf;
    outline: none;
    cursor: grab;
}

.mw-range.active .ui-slider-handle {
    cursor: grabbing;
}

.mw-multiple-fields {
    display: flex;
}

.mw-multiple-fields > .mw-field select,
.mw-multiple-fields > .mw-field input {
    border-radius: 0;
}

.mw-multiple-fields > .mw-field:first-child select,
.mw-multiple-fields > .mw-field:first-child input {
    border-radius: 2px 0 0 2px;
}

.mw-multiple-fields > .mw-field:last-child select,
.mw-multiple-fields > .mw-field:last-child input {
    border-radius: 0 2px 2px 0;
}

.mw-multiple-fields > .mw-field + .mw-field {
    margin-left: -1px;
}

.mw-multiple-fields > .mw-field input:hover,
.mw-multiple-fields > .mw-field input:focus {
    z-index: 1;
    position: relative;
}

.mw-filepicker-component-section .form-group{
    position: relative;
}
