.installholder{
  width: 530px;
  margin: 50px auto;
  max-width: 100%;
}

#install-row .mw-ui-field{
  width: 100%;
}

body{
  background: #f5f5f5;
}

#mw_db_setup_toggle{
  padding-right: 15px;
}


.installholder .mw-ui-box{
  background-color: white;
  box-shadow:0 0 12px -10px #000;
}

.installholder .mw-ui-box-header,
.installholder .mw-ui-box-content{
  padding: 25px;
  background-color: white;
}

.installholder .mw-ui-box-header{
  text-align: center;
  padding-bottom: 0;
}
.mw-ui-label{
  height: 25px;
}

#logo{
  text-align: center;
  display: inline-block;
  margin: auto;
  position: relative;
  text-decoration: none;
  color:#4494c7;
}

#logo .mw-icon-mw{
  font-size: 120px;
  height: 120px;
}

.version{
  opacity: 0.7;
  float: right;
  padding-bottom: 10px;
}

#installinfo{
  padding: 15px 0 0;
}

#mw-install-done{
  text-align: center;
}

.installholder input[type="submit"]{
  line-height: 22px;
}


#theImg {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  transition: all 5s;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}

#theImg:hover {
  background-position: center bottom;
}

.change-templ-btn {

}

.change-templ-btn i {
  margin: 0 !important;
}

.installholder .mw-ui-box-important {
  background-color: red;
  color: white;
}