/* live edit */

#mw-text-editor,
.toolbar-sections-tabs{
    flex-direction: row-reverse;
}
.wysiwyg-cell-undo-redo .mw-ui-btn-nav, .toolbar-sections-tabs > ul{
    direction: ltr;
}

.mw-handle-type-default .mw-handle-handler-title{
    border-radius: 30px 0 0 30px;
}

#live_edit_toolbar_holder [class*='tst-']{
    border-right:0;
    border-left:1px solid #EAEAEA;
}

.mw-toolbar-add-new-content-ctrl {
    margin: 9px 12px 0 0 !important;
}

.mw-toolbar-add-new-content-ctrl{
    width: auto;
    margin-left:10px !important;
}

.mw-ui-navigation a>[class*=mw-icon-] {
    margin-right:0;
    margin-left:8px;
}

.mw_edit_delete{
    left: 0px !important;
    right: auto !important;
}


.ts_main_a{
    padding-right: 10px;
}


.mw-handle-type-default .mw-handle-handler-icon{
    border-right: none;
    border-left: 1px solid #333333;
}

.mw-close-sidebar-btn {
    position: absolute;
    right: auto;
    left: 13px;
}

.mw-handle-menu-default .mw-handle-menu-item-icon, .mw-handle-menu-default .mw-edit-module-settings-tooltip-icon {
    margin-right: 0;
    margin-left: 6px;
}

.mw-module-dialog-icon{
    margin-right: 0;
    margin-left: 7px;
}

.module-modal-settings-menu-holder{
    display: none;
}

#liveedit_wysiwyg{
    padding-left: 0;
    padding-right: 10px;
}
