@import "components.css";

[contenteditable] {
    outline: none;
}

/* FONTS */

.isTyping .mw-plus-bottom,
.isTyping .mw-columns-resizer,
.isTyping .mw-plus-top {
    visibility: hidden !important;
}

#mw-text-editor {
    width: 100%;
    display: flex;
    min-height: 35px;
    background: #F5F5F5;
    z-index: 996;
}

.mw_editor.disabled, #mw_small_editor.disabled,
.mw_editor.disabled *, #mw_small_editor.disabled * {
    cursor: default;
}

.mw_editor.disabled:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
}



#mw-admin-text-editor {
    width: 100%;
    min-height: 35px;
    background: #fff;
}

.editor_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#mw-text-editor.hover {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mw_editor {
    line-height: normal;
}

.mw_editor_btn {
    display: inline-block;
    float: left;
    cursor: pointer;
    height: 25px;
    padding: 1px;
    border-radius: 1px;
    position: relative;
}

.mw-editor-disabled #liveedit_wysiwyg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #F5F5F5;
    opacity: 0.8;
    cursor: default;
    visibility: visible;
    z-index: 99;
}

.mw-editor-disabled .wysiwyg-convertible.active {
    display: none !important;
}

.editor_wrapper {
    padding: 0px;

}

.mw_editor_btn:hover, .mw_editor_btn_active, .wysiwyg-convertible-toggler.active {
    border: 1px solid #dadada;
    padding: 0;
    background: #fff;
}

.mw_editor_btn_mousedown, .mw_editor_btn_mousedown:hover {
    box-shadow: 0 0 6px #CCCCCC inset;
}

.mw_editor_btn.disabled,
.mw_editor_btn.disabled:hover,
.mw_editor_btn.disabled.mw_editor_btn_mousedown,
.mw_editor_btn.disabled.mw_editor_btn_mousedown:hover {
    cursor: default;
    background: none;
    border-color: transparent;
    box-shadow: none;
}

.mw_editor_btn_active {
    box-shadow: inset 0 0 4px #ccc;
}

.mw_dlm {
    height: 17px;
    width: 1px;
    overflow: hidden;
    position: relative;
    background: #D1D1D1;
    border-right: 1px solid #FFFFFF;
    display: inline-block;
    float: left;
    margin-top: 6px;
}

.mw_dlm_style {
    height: 61px;
}

.mw_editor_btn .ed-ico:before{
    font-size: 19px;
    line-height: 24px;
}
.mw_editor_btn .ed-ico {
    height: 25px;
    width: 25px;
    display: inline-block;
    font-family: 'Material Icons';

    color: #777;
    transition: color .3s;
    text-align:center;
}
.mw_editor_btn .ed-ico:hover{
    color: #555;
}

/* v2 */
.mw_editor_undo span.ed-ico:before {content: 'undo';}
.mw_editor_redo span.ed-ico:before {content: 'redo';}
.mw_editor_element span.ed-ico:before {content: 'format_shapes';}
.mw_editor_remove_formatting span.ed-ico:before {content: 'format_clear';}
.mw_editor_justifyleft span.ed-ico:before {content: 'format_align_left';}
.mw_editor_justifyright span.ed-ico:before {content: 'format_align_right';}
.mw_editor_justifycenter span.ed-ico:before {content: 'format_align_center';}
.mw_editor_justifyfull span.ed-ico:before {content: 'format_align_justify';}
.mw_editor_indent span.ed-ico:before {content: 'format_indent_increase';}
.mw_editor_outdent span.ed-ico:before {content: 'format_indent_decrease';}
.mw_editor_ul span.ed-ico:before {content: 'format_list_bulleted';}
.mw_editor_ol span.ed-ico:before {content: 'format_list_numbered';}
.mw_editor_link span.ed-ico:before {content: 'insert_link';}
.mw_editor_unlink span.ed-ico:before {content: 'insert_link';}
.mw_editor_font_color span.ed-ico:before {content: 'format_color_text';}
.mw_editor_font_background_color span.ed-ico:before {content: 'format_color_fill';}
.mw_editor_image span.ed-ico:before {content: 'perm_media';}
.mw_editor_bold span.ed-ico:before {content: 'format_bold';}
.mw_editor_italic span.ed-ico:before {content: 'format_italic';}
.mw_editor_underline span.ed-ico:before {content: 'format_underline';}
.mw_editor_strike span.ed-ico:before {content: 'strikethrough_s';}
.mw_editor_unlink span.ed-ico:after {
    content: '';
    position: absolute;
    top:5px;
    bottom:5px;
    width:2px;
    left:50%;
    background: #777;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.mw_editor_paste_from_word .ed-ico{
    background-position: -877px 3px;
    background-image: url(../img/editor.png);
    background-repeat: no-repeat;
}


.wysiwyg_external {
    position: fixed;
    top: -9999px;
    z-index: 1101;
}

.mw_editor_t .ed-ico {
    font-size: 21px;
    top: 2px;
    position: relative;
}
.wysiwyg_checker {
    display: none;
}

.mw_dlm {
    margin-left: 10px;
    margin-right: 10px;
}

#mw_small_editor {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    z-index: 1003;
    /*width: 250px;
    height: 68px;*/
    box-shadow: 0 2px 22px rgba(0,0,0,.2);
    background: #F5F5F5;
    border-radius: 1px;
    margin-left: 12px;
}

#font_family_selector_small {
    width: 105px;
}

.mw_small_editor.mw-editor-disabled {
    display: none !important;
}

#mw_small_editor:hover {
    opacity: 1 !important;
}

#mw_small_editor .mw_dlm {
    margin-left: 0px;
    margin-right: 0px;
}

#mw_small_editor .mw_small_editor_top .mw_dlm {
    margin-left: 1px;
    margin-right: 1px;
}

.mw_small_editor_bottom,
.mw_small_editor_top {
    padding: 12px;
}
.mw_small_editor_top{
    padding-bottom: 6px;
}

.mw_small_editor_bottom{
    padding-top: 6px;
}




.mw-dropdown-type-wysiwyg {
    height: 25px;
    float: left;
    border: 1px solid transparent;
    color: #595959;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;

}
.mw-dropdown-type-wysiwyg.disabled{
    opacity: 0.45;
    pointer-events: none;
}
.mw-active-element-is-in-safe-mode .mw_editor_element,
.mw-active-element-is-in-safe-mode .mw_editor_outdent,
.mw-active-element-is-in-safe-mode .mw_editor_indent,
.mw-active-element-is-in-safe-mode .mw_editor_ol ,
.mw-active-element-is-in-safe-mode .mw_editor_ul ,
.mw-active-element-is-in-safe-mode #wysiwyg_insert li[value='insert_html'],
.mw-active-element-is-in-safe-mode #wysiwyg_insert li[value='quote'],
.mw-active-element-is-in-safe-mode #wysiwyg_insert li[value='code'],
.mw-active-element-is-in-safe-mode #wysiwyg_insert li[value='pre']{
    opacity: 0.45;
    pointer-events: none;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-value{
    display: inline-block;
}

.mw-dropdown-type-wysiwyg.active {
    border-radius: 3px 3px 0 0;
}

.mw-dropdown-type-wysiwyg input.mw-dropdown-field {
    border: none;
    padding: 5px;
    background: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.mw-dropdown.active > .mw-dropdown-value > input.mw-dropdown-field {
    visibility: visible;
}

.mw-dropdown-type-wysiwyg input.mw-dropdown-field:focus {
    background: white;
    box-shadow: inset 0 0 6px #ccc;
}

.mw-dropdown-type-wysiwyg:hover, .mw-dropdown-type-wysiwyg.hovered, .mw-dropdown-type-wysiwyg.active {
    border-color: #DADADA;
    background: #fff;
}

.mw-dropdown-type-wysiwyg:active {
    box-shadow: inset 0 0 6px #ccc;
}

.mw-dropdown-type-wysiwyg_blue {
    border-color: #8EC4F0;
    background: #ABD3F4;
    color: #125287;
}

.mw-dropdown-type-wysiwyg_blue:hover, .mw-dropdown-type-wysiwyg_blue.hovered {
    background: #81BDEF;
    border-color: #8EC4F0;
}

.mw-dropdown-type-wysiwyg ul {
    padding: 0;
    margin: 0;
}

.mw-dropdown-type-wysiwyg a {
    color: #595959;
    text-decoration: none;
    font-size: 11px;
    display: block;
    padding: 2px 10px;
    line-height: normal;
}

.mw-dropdown-type-wysiwyg a:hover {
    background: #F0F0F0;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-val {
    display: inline-block;
    padding: 4px 17px 4px 7px;
    overflow: hidden;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-val:after {
    content: "\0118";
    display: inline-block;
    font-family: Microweber !important;
    text-transform: none !important;
    position: absolute;
    top: 7px;
    right: 5px;
    color: #7b7b7b;
    font-size: 11px;
}
.mw-dropdown-type-wysiwyg .mw-dropdown-val * {
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: normal;
}

.mw-dropdown-arrow {
    background: url(../img/dd_wysiwyg_arr.png) no-repeat;
    display: block;
    height: 3px;
    width: 5px;
    float: right;
    margin-right: 6px;
    margin-top: 12px;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-content {
    top: 100%;
    padding: 0;
    margin-left: -1px;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-content ul {
    padding: 5px 0;
    border-radius: 0px;
    background: white;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: auto;
}

.mw_dropdown_action_font_size {
    min-width: 75px;
}

.mw_dropdown_action_font_size .mw-dropdown-content ul {
    width: 100%;
}

.mw_dropdown_action_format .mw-dropdown-content ul {
    width: 245px;
}

.mw_editor_btn, .mw-dropdown-type-wysiwyg {
    margin-left: 1px;
    margin-right: 1px;
}

#mw_small_editor .mw_editor_btn, #mw_small_editor .mw-dropdown-type-wysiwyg {
    margin-bottom: 0;
}

#mw-admin-text-editor {
    position: relative;
    z-index: 20;
    box-shadow: 0 1px 2px -1px #CCCCCC;
    transition: box-shadow 0.3s;
}
#mw-admin-text-editor.scrolled{
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

#mw-admin-text-editor .mw_dlm {
    margin-left: 1px;
    margin-right: 1px;
}

#mw-admin-text-editor .editor_wrapper {
    padding: 4px;
    background: white;
    z-index: 10;
    width: 100%;
}

.mw-admin-editor {
    background: white;
}

.wysiwyg-break {
    float: left;
    position: relative;
}

.wysiwyg-break:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.mw-editor-iframe-loading {
    background: white url(../img/img_check_loading.gif) no-repeat center center;
}

.mw_dropdown_action_format h1,
.mw_dropdown_action_format h2,
.mw_dropdown_action_format h3,
.mw_dropdown_action_format h4,
.mw_dropdown_action_format h5,
.mw_dropdown_action_format h6,
.mw_dropdown_action_format p {
    margin: 0 !important;
    padding: 5px 0 !important;
    color: #595959 !important;
}

#liveedit_wysiwyg {
    /*height: 40px;*/
    cursor: default;
	padding-left:10px;
}
@media (max-width: 1024px) {
	#liveedit_wysiwyg {

		padding-left:0px;
	}

}

.mw_editor_redo.disabled,
.mw_editor_undo.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

.show_editor {
    display: none;
    font-size: 25px;
}

.show_editor u {
    padding-top: 15px;
    display: inline-block;
}

#mw-history-panel {
    left: -22px;
    width: 150px;
    border: 1px solid #D2D2D2;
    top: -1px;
}

#mw_history_files a {
    display: block;
    padding: 5px 10px;
    color: #000;
}

.wysiwyg-convertible-toggler:after{
    display: inline-block;
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.wysiwyg-convertible-toggler {
    display: none;
}

.wysiwyg-convertible > * {
    float: none;
    vertical-align: top;
}

.wysiwyg-table {
    display: flex;
    padding: 15px 0;
    position: relative;
    left: 0;
}

.wysiwyg-table > .wysiwyg-cell {
    display: flex;
    vertical-align: middle;
    float: none;
    white-space: nowrap;
    background: url(../img/mw_dlm.png) no-repeat right center;
    padding: 0 8px 0 2px;
}

.wysiwyg-table > .wysiwyg-cell:first-child {

}

.wysiwyg-table > .wysiwyg-cell:last-child {
    background-image: none;
}

.wysiwyg-table > .wysiwyg-cell > *, .wysiwyg-table .wysiwyg-cell-limitter > * {
    float: none;
}

.wysiwyg-table, .wysiwyg-table * {
    vertical-align: middle;
}

.visible-1024 {
    display: none !important;
}

.visible-1366 {
    display: none !important;
}

.visible-1440 {
    display: none !important;
}

@media (max-width: 1024px) {
    .hidden-1024 {
        display: none !important;
    }

    .visible-1024 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1024 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1024.active {
        display: block;
    }

    .wysiwyg-convertible-1024 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1024:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1440px) {
    .visible-1440 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1440 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1440.active {
        display: block;
    }

    .wysiwyg-convertible-1440 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1440:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1366px) {
    .visible-1366 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1366 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1366.active {
        display: block;
    }

    .wysiwyg-convertible-1366 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1366:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1000px) {
    .visible-1000 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1000 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1000.active {
        display: block;
    }

    .wysiwyg-convertible-1000 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1000:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

.selection-simulation {
    background: #3399FF;
    color: white;
}

/* Icons */

.mw-icons-selector {
    max-height: -webkit-calc(100vh - 205px);
    max-height: calc(100vh - 205px);
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
}

.mw-icons-selector{
    width: 100%;
    display: none;
}

.icon-picker-search{
  position: absolute;
    top: 11px;
    z-index: 10;
    right: 10px;
    display: block;
}

.mw-icons-selector-dropdown-wrapper{
    position: relative;
    z-index: 5;
}
.mw-icons-selector-dropdown-wrapper.focused{
    z-index: 6;
}

.mw-icons-selector-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
}
.mw-icons-selector-dropdown-wrapper.focused .mw-icons-selector-dropdown{
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
}

.mw-icons-selector li {
    color: #9e9e9e;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    list-style: outside none none;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 40px;
}

.mw-icons-selector li:hover,
.mw-icons-selector li:focus {
    background-color: #EEEEEE;
    color: #222222;
}

.icon-section-title > [class*="sm-icon-"],
.icon-section-title > [class*="mw-icon-"] {
    font-size: 232%;
    margin: -4px 12px 0 0;
    opacity: 0.7;
}

.icon-section-title + .mw-ui-box {
    margin-top: 12px;
}

.mw-cleaner-block{
    padding: 10px;
    border: 1px solid #DADADA;
    overflow: auto;
    height: 160px;
    margin-bottom: 15px;
}

/* /Icons */

.module-modal-content{
    position: relative;
}

