@import '../../../bootstrap_variables';

$white: #2D353C;
$black: #fff;
$silver: #BCBFC2;

$primary: #00ACAC;
$secondary: #160909;
$success: #5bce93;
$info: #426b8a;
$warning: $yellow;
$danger: $red;
$light: #2D353C;
$dark: #fff;

$body-bg: #D9E0E7;
$body-color: #F7F7F7;

$text-muted: #777c80;

$textDark: #F7F7F7;
$textGray: #160909;
$textLight: #D1D1D1;