.module-shop-offers .mw-ui-field {
    width: 100%;
}

.module-shop-offers .js-danger-alert {
    background: #fb3f3f;
    color: #fff;
    padding: 11px;
    border-radius: 4px;
    border: 1px solid #0000001a;
    text-shadow: #a1a1a1 2px 0px 8px;
}

.module-shop-offers .js-danger-text {
    padding-top: 5px;
    color: #c21f1f;
}

.module-shop-offers .js-table-active {
    background: #effeef
}

.module-shop-offers .js-table-inactive {
    background: #fff2f2
}

.module-shop-offers .status-active {
    color: green;
}

.module-shop-offers .status-inactive {
    color: red;
}

.td-valign td{
    vertical-align: middle;
}