@media screen and (max-width: 1024px){    

}
@media screen and (max-width: 991px){    
    .add-cart-btn{
        padding: 8px 14px !important;
    }
    .customize-modal {
        width: 46% !important;
    }
    .header-option-btns {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 767px){    
    
    .col-products {
        width: 47%;
    }
    .copy-url {
        font-size: 9px !important;
    }
    .product-info-layout-1{
        display: none;
    }

    #checkout-product {
        width: 300px;
    }

    #checkout-product .cart-table,
    #checkout-product .cart-table thead,
    #checkout-product .cart-table tbody,
    #checkout-product .cart-table th,
    #checkout-product .cart-table td,
    #checkout-product .cart-table tr {
        display: block !important;
    }

    #checkout-product .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    #checkout-product .cart-table tr {
        border: 1px solid #ccc !important;
    }

    #checkout-product .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    #checkout-product .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: auto !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    #checkout-product .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    #checkout-product .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    #checkout-product .cart-table td:nth-of-type(3):before {
        content: "MENGE";
    }

    #checkout-product .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    #checkout-product .cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    #checkout-product .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    #checkout-product .cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }


    .cart-table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block !important;
    }

    .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .cart-table tr {
        border: 1px solid #ccc !important;
    }

    .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .cart-table td:nth-of-type(3):before {
        content: "MENGE";
    }

    .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    .cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }

    .cart-table-delete {
        text-align: left !important;
    }
    .product-cart-item td:last-child {
        text-align: left!important;
    }
    .customize-modal {
        width: 80% !important;
    }
    .menu_element a{
        color: #000;
    }
    .module-navigation-default > ul > li > a {
        padding: 7px 12px;
    }
    

}
    
@media screen and (max-width: 520px){    
    .slickslider .home-slick-content {
        margin-top: 110px !important;
    }
    .mw-ui-row, .mw-ui-row > .mw-ui-col {
        width: 100% !important;
    }
    .col-products {
        width: 100%;
    }
    .copy-url {
        width: 70%;
    }
    #progressbar li span {
        display: flex;
        align-items: center;
        background-color: #28a745;
        clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
        width: 160px;
        height: 37px;
        justify-content: center;
        padding-right: 6px;
        margin: 0 auto;
        font-size: 9px;
    }
    .discount-button {
        margin-bottom: 20px !important;
    }
}
@media screen and (max-width: 426px){  
    #checkout-product {
        margin-right: 60px;
        margin-top: 12px;
    }
    #cssmenu>ul.open{
        left: 0;
        transform: translateX(0%);
    }
    .header-wrapper{
        align-self: flex-end;
        margin-top: -38px;
    }
    .main-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    #checkout-product{
        right: -60px;
    }
    #progressbar li span {
        width: 147px;
        font-size: 7px;
    }
    h3.edit.nodrop {
        font-size: 16px;
        font-weight: 500;
    }
    .add-cart-btn {
        padding: 5px 9px !important;
        font-size: 10px;
    }
    .product-wishlist, .product-inner-wishlist {
        padding-right: 4px;
    }
    .checkout-total-table,
    .checkout-total-table thead,
    .checkout-total-table tbody,
    .checkout-total-table th,
    .checkout-total-table td,
    .checkout-total-table tr {
        display: block !important;
    }

    .checkout-total-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .checkout-total-table tr {
        border: 1px solid #ccc !important;
    }

    .checkout-total-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        text-align: left;
    }


    .checkout-total-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .checkout-total-table label {
        text-align: left !important;
    }


    #checkout-product .cart-table td:nth-of-type(6) {
        /* text-align: center !important; */
    }

    #checkout-product {
        width: 250px;
        max-height: 350px;
    }
    
    .checkout-total-table,
    .checkout-total-table thead,
    .checkout-total-table tbody,
    .checkout-total-table th,
    .checkout-total-table td,
    .checkout-total-table tr {
        display: block !important;
    }

    .checkout-total-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .checkout-total-table tr {
        border: 1px solid #ccc !important;
    }

    .checkout-total-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        text-align: left;
    }


    .checkout-total-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .checkout-total-table label {
        text-align: left !important;
    }


    #checkout-product .cart-table td:nth-of-type(6) {
        /* text-align: center !important; */
    }

    #checkout-product {
        width: 250px;
        max-height: 350px;
    }
    .copy-url {
        width: 100%;
    }
    .header-logo {
        padding: 43px 0;
        max-height: 75px;
    }
    .home-slick-text-slider .home-slick-content h1 {
        margin-top: -65px;
    }
    #cssmenu #menu-button {
        padding: 0px 0px 0px 0px;
    }
    .header-search, .header-account > ul > li, .header-cart {
        padding: 0px 0;
    }
    .home-slick-text-slider .home-slick-content h1 {
        font-size: 27px;
    }
    .header-account > ul > li.open ul {
        margin-top: 12px;
    }
}

@media screen and (max-width: 325px){
#progressbar li span {
    width: 125px;
    font-size: 7px;
}
}