.product-details .price .new {
    margin-bottom: 8px !important;
}

.copy-url {
    height: auto;
    letter-spacing: 0px;
    padding: 6px 0px;
    width: 100%;
    white-space: normal;
    font-size: 12px;
}

.isotope-product-filter li,
.custom-sidebar-style ul li {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.shop-sidebar-wishlist ul li {
    text-align: left !important;
    padding-left: 10px;
}

.edit.sidebar.shop-sidebar-cat,
.shop-sidebar-wishlist {
    box-shadow: 0 0 7px 2px #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}

#delete_sss,
#edit_sss {
    margin: 5px;
    font-size: 12px;
    padding: 1px 12px;
    border-radius: 5px;
}

#delete_sss .btn,
#edit_sss .btn {
    height: 0px !important;
}

#delete_sss,
#edit_sss:hover {
    background-color: transparent !important;
}

.shop-sidebar-main .shop-sidebar-wishlist .btn-primary {
    padding: 8px 15px !important;
    width: 100% !important;
    height: auto !important;
    white-space: normal;
}

.product-wishlist,
.product-inner-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 40px;
}

.select2-container {
    width: 120px !important;
    padding-left: 10px;
}

.product-item .product-tax-text {
    display: inline-block !important;
}

.product-info .product-wishlist {
    margin: 10px 0;
}

.row-products {
    display: flex;
    flex-wrap: wrap;
}

.col-products {
    width: 31.33%;
    margin: 0 5px;
}

.product-item {
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: flex;
    align-items: center;
    background-color: #28a745;
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;

}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}


.shipping-sys h2 {
    margin-top: 0 !important;
}

.checkout-box-shadow-style {
    box-shadow: 0 0 6px 0px #b9e4ff;
    padding: 10px;
    border: 1px solid #ecf1f5;
    border-radius: 5px;
}

.select2-container {
    width: 100px !;
}

#checkout-product {
    position: absolute;
    top: 70%;
    right: 0;
    width: 600px;
    z-index: 999;
    background-color: #fff;
    padding: 15px 10px;
    left: auto;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 3px 3px #e4e4e4;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 14px;
}

#shoppingCartModal {
    z-index: 99999999999;
}

.customize-modal {
    background-color: #fbf5f5 !important;
}

.header-account .dropdown-menu {
    top: 70%;
}

span.select2-dropdown.select2-dropdown--below {
    width: 110px !important;
    margin-left: 10px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    width: 108px;
}

.custom-sidebar-style .mw-cats-menu .btn {
    padding: 1px 7px !important;
    height: 30px !important;
}




/* Login Modal */
@media screen and (min-width: 1450px) {
    /*.modal-dialog {*/
    /*margin: 10% auto;*/
    /*}*/
}

.login-modal .modal-content {
    border: 1px solid #c3c3c3 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: #f5f5f5;
    color: #505050;
}

.login-modal .modal-header {
    padding-bottom: 0;
    border-color: #c3c3c3;
    border: 0;
}

.login-modal .modal-header .close {
    margin-top: -25px;
    margin-right: -25px;
    background: #f5f5f5;
    opacity: 1;
    color: #505050;
    padding: 1px 5px;
    border: 1px solid #c3c3c3;
    border-radius: 100%;
}

.login-modal .modal-dialog {
    max-width: 500px;
}

.login-modal .modal-body {
    padding: 20px 60px;
}

.login-modal .modal-body .form-control {
    background: #ffffff;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: #505050;
    font-size: 16px;
}

.login-modal .modal-body p {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

.login-modal .modal-body .icon {
    text-align: center;
    margin-bottom: 20px;
}

.login-modal .modal-body .icon i {
    font-size: 45px;
    color: #333;
}

/*
@media (min-width: 1450px) {
    .login-modal .modal-dialog {
        width: 700px;
    }
}
*/
.login-modal .socials-login {
    display: flex;
    width: 100%;
    margin: 20px 0 30px 0;
}

.login-modal .socials-login a {
    color: #ffffff;
    flex: 1;
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
    margin: 0 2px;
}

.login-modal .socials-login a:hover {
    opacity: 0.8;
}

.login-modal .socials-login .facebook {
    background-color: #3b5998;
}

.login-modal .socials-login .twitter {
    background-color: #00aced;
}

.login-modal .socials-login .gplus {
    background-color: #db4437;
}

.login-modal .socials-login .linkedin {
    background-color: #0077b5;
}

.login-modal .socials-login .github {
    background-color: #333333;
}

.login-modal .socials-login .microweber {
    background-color: #0086db;
}

.login-modal .or {
    line-height: 0.5;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.login-modal .or span {
    display: inline-block;
    position: relative;
}

.login-modal .or span:before,
.login-modal .or span:after {
    content: "";
    position: absolute;
    height: 13px;
    border-bottom: 1px solid #c3c3c3;
    top: 0;
    width: 600px;
}

.login-modal .or span:before {
    right: 100%;
    margin-right: 15px;
}

.login-modal .or span:after {
    left: 100%;
    margin-left: 15px;
}

.login-modal .act {
    position: relative;
    margin: 25px 0 20px 0;
    text-align: center;
}

.login-modal a {
    color: #505050;
    font-size: 14px;
    text-decoration: none;
}

.login-modal .act a {
    font-size: 16px;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
    font-weight: bold;
}

.login-modal .act a:hover {
    opacity: 0.8;
}

.login-modal .act a span {
    display: block;
}

.login-modal .act:after {
    font-family: 'Material Icons';
    display: block;
    position: absolute;
    top: 0px;
    font-size: 30px;
}

.login-modal .act.create:after {
    content: 'arrow_forward';
    float: right;
    right: 20px;
}

.login-modal .act.login:after {
    content: 'arrow_back';
    float: left;
    left: 50px;
}

.login-modal .personal-data {
    color: #bbbbbb !important;
    text-align: justify !important;
}

@media screen and (max-width: 520px) {
    .login-modal .act:after {
        display: none;
    }
}

.mw-captcha-img {
    min-width: 75px;
    margin-right: 55px !important;
}

li.page-item {
    border: 1px solid #ddd;
    display: inline;
    padding: 5px 8px;
    margin-left: 9px;
}

.products-amount p {
    padding-left: 22px;
}


.shipping-country-select {
    width: 50%;
    margin-left: auto;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-wrapper {
    display: flex;
}

.header-option-btns {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-option-btns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.share_input-text {
    margin-bottom: 20px;
}

.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn {
    background-color: #309bff !important;
    border: 1px solid #309bff !important;
    color: #fff !important;
    font-size: 11px !important;
}

.mw-shop-checkout-personal-info-holder .btn:hover,
.discount-button .btn:hover {
    background-color: #0082fc !important;
    color: #fff !important;
    border: 1px solid #0082fc !important;
}
